repos:
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    -   id: flake8
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
exclude: '^(fido2|test)/_pyu2f/.*'
