include COPYING*
include README.adoc
include NEWS
include ChangeLog
include fido2/public_suffix_list.dat
include examples/*.py
include examples/server/*.py
include examples/server/README.adoc
include examples/server/Pipfile
include examples/server/Pipfile.lock
include examples/server/static/*
recursive-include test *.py
