[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]
"mock" = ">=1.0.1"
"pyfakefs" = ">=2.4"
"pyscard" = ">=1.9"

[packages]
"fido2" = {editable = true, path = "."}

[scripts]
test = "python setup.py test"
