[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
flask = "*"
pyOpenSSL = "*"
"5448283" = {editable = true, path = "./../.."}

[scripts]
server = "python server.py"
