Source: python-fido-host
Maintainer: Debian Authentication Maintainers <pkg-auth-maintainers@lists.alioth.debian.org>
Uploaders: Dag Heyman <dag@yubico.com>,
           Dain Nilsson <dain@yubico.com>,
           Emil Lundberg <emil@yubico.com>
Section: python
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9),
               python-all,
               python3-all,
               python-cryptography,
               python3-cryptography,
               python-enum34,
               python-setuptools,
               python3-setuptools
Homepage: https://www.github.com/python-fido-host/
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: python-fido-host
Architecture: all
Section: python
Depends: ${misc:Depends},
         python,
         python-cryptography,
         python-setuptools,
         python-six,
Description: Python 2 library for communicating with a FIDO device
 A Python library for communicating with a FIDO device over USB HID.
 Supports FIDO U2F and FIDO 2.0.
 This is the Python 2 version of the package.


Package: python3-fido-host
Architecture: all
Section: python
Depends: ${misc:Depends},
         python3,
         python3-cryptography,
         python3-setuptools,
         python3-six,
Description: Python 2 library for communicating with a FIDO device
 A Python library for communicating with a FIDO device over USB HID.
 Supports FIDO U2F and FIDO 2.0.
 This is the Python 3 version of the package.
